// SPDX-License-Identifier: Apache-2.0
/**
 * CPU stm32f103cpu节点片段
 */

/ {
    compatible = "stm32f103c8t6,generic-soc";
    #address-cells = <1>;
    #size-cells = <0>;

    cpus{
        #address-cells = <1>;
		#size-cells = <0>;

        cpu0: cpu@0{
            device_type = "cpu";
            compatible = "stm32f103c8t6,cpu";
            reg = <0>;
            clock-frequency = <72000000>;
            status = "disabled";
        }
    }
}