[submodule "framework"]
	path = framework
	url = git@github.com:Mbed-TLS/mbedtls-framework.git
[submodule "mldsa-native"]
	path = drivers/pqcp/mldsa-native
	url = https://github.com/Mbed-TLS/mldsa-native
